{{- define "main" -}}

{{- if .Title -}}
<h1 class="mb-14">{{- .Title -}}</h1>
{{- end -}}

{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections -}}

<section>
  {{- range $pages.ByDate -}}
  <article
    class="group relative mb-6 rounded-xl border border-black/5 bg-black/[2%] p-5 transition hover:border-black/10 hover:bg-black/[4%] dark:border-white/5 dark:bg-white/[2%] dark:hover:border-white/10 dark:hover:bg-white/[4%]"
  >
    <h2 class="my-0! text-lg font-medium leading-snug">{{- .Title -}}</h2>
    <time class="text-xs opacity-50"
      >{{- .Date | time.Format "02/01/2006" -}}</time
    >
    <a
      class="absolute inset-0 rounded-xl text-[0px]"
      href="{{- .Permalink -}}"
      >{{- .Title -}}</a
    >
  </article>
  {{- end -}}
</section>

{{- end -}}